body{
  margin: 0px;
}
header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: white;
}
header .logo{
  color: MediumAquamarine;
}
header a{
  color: black;
}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
nav{
  padding-right: 40px;
  display: block;
}
nav span{
  padding: 20px 10px;
}
.main{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1232px;
  padding-top: 96px;
}
.column.large{
  width: 630px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
.column{
  flex-direction: column;
  display: flex;
}
.stories{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.stories .storycomment{
  height: 250px;
}
.story span{
  justify-content: space-around;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.storysublink{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  text-align: center;
  display: block;
}
.storycomment{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.storysublink.primary{
  background-image: url("./MainStory.png");
  background-size: auto;
  font-size: 40px;
  text-align: left;
}
.storysublink.fall{
  background-image: url("./Fall.png");
}
.storysublink.camera{
  background-image: url("./Photographer.png");
}
.storysublink.cat{
  background-image: url("./Cat.png");
}
.links span{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  display: block;
  padding: 11px 20px;
}
.links h3{
  font-size: 16px;
  font-weight: bold;
}
